{% extends 'index.html' %}
{% load static %}

{% block title %}
HOTEL SENAI
{% endblock %}

{% block nav %}
{% include 'nav2.html'%}
{% endblock %}

{% block body %}
<div class="container">
    <ul>
        <div class="text-center">
            <div>
                {% for item in dados_hotel %}
                <h1>{{item.titulo}}</h1>
                <p>{{item.descricao}}</p>
                {% endfor %}
                <a type="button" class="butao" href="login">
                    Veja mais
                </a>
            </div>
        </div>
    </ul>
</div>

<style>
     .butao{
        display: inline-block;
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.2);
        color: white;
        border: 2px solid white;
        border-radius: 20px;
        text-decoration: none;
        transition: background-color 0.3s, border-color 0.3s;
    }
    .butao:hover{
        background-color: rgba(255, 255, 255, 0.3);
        border-color: white;
    }
    .container {
        background: url("/static/img/hotell.webp") fixed;
        color: white;
        min-width: 100%; 
        height: 100vh;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        background-blend-mode: color;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
</style>
{% endblock %}