{% extends 'index.html' %}
{% block title %}
Hotel Senai
{% endblock %}

{% block nav %}
{% include 'nav.html'%}
{% endblock %}

{% block body %}

<style>
    body{
        background-color: #ffffffd7;
    }
    /* Estilos para o formulário */
    form {
        max-width: 350px;
        margin: 0 auto;
    }

    .card {
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        margin: 20px auto;
    }

    .card-title {
        text-align: center;
        margin-bottom: 15px;
        font-size: 20px;
    }

    label {
        display: block;
        margin-bottom: 3px;
        font-size: 14px;
        font-weight: normal; /* Remover o negrito */
    }
    
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="password"] { /* Adicionado input[type="password"] */
        width: 100%;
        padding: 6px;
        margin-bottom: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        font-size: 14px;
    }

    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 8px 16px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        width: 100%;
    }

    input[type="submit"]:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-color: rgb(0, 0, 0);
    }
    .alert{
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
    }

</style>

<form action="login" class="card" method="post">
    {% if error_message %}
        <div class="alert">{{error_message}}</div>
    {% endif %}
    <h2 class="card-title">Faça seu login</h2>
    {% csrf_token %}
    {{ form }}

    <input class="mt-3" style=" display: inline-block;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;" type="submit" value="Enviar">
</form>

{% endblock %}
