{% extends 'index.html' %}

{% block title %}
HOTEL SENAI
{% endblock %}

{% block nav %}
{% include 'nav2.html'%}
{% endblock %}

{% block body %}

<div class="caixa">
<strong><h1 class="letrinhas">Quartos para reserva</h1></strong>
<p class="letrinhas">Confira aqui nossos quartos disponíveis para reserva!</p>
</div>

<div class="container">
    <div class="row">
        {% for item in dados_quarto %}
        <div class="col-lg-6 mb-4">
            <div class="card card-custom">
                <img class="card-img-top" src="{{item.foto.url}}" alt="Quarto" style="max-height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">QUARTO DE {{item.tipo}}</h5>
                    <p class="card-text"><strong>DESCRIÇÃO:</strong> {{item.descricao}}</p>
                    <p class="card-text"><strong>QUARTOS DISPONÍVEIS:</strong> {{item.disponibilidade}}</p>
                    <p class="card-text"><strong>R$ {{item.valor}}</strong></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .letrinhas{
        color: black;
    }
    body{
        background-color: #ffffffd7;
    }
    .card {
        transition: transform 0.5s;
        margin: 10px;
    }
    .card:hover {
        transform: translateY(-10px);
    }
    .card-custom {
        width: 80%;
        margin: 0 auto;
        padding: 20px;
    }
    .caixa{
        display: flex;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
    }
</style>

{% endblock %}
